<!-- <p>pop-up works!</p>
<h2> Welcome </h2> -->
<section class="">
    <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center">
         <div class="col-md-6">
              <div class="fs-5 mb-5">
                  <span>{{popUpText}}</span>
                 
              </div>
              
             
          </div>
      </div>
      <button  class="btn btn-outline-dark mt-auto align-items-center" (click)="closeDialog()">
        Ok
      </button>
  </div>
</section>

